.App {
    text-align: center;
}

.garageData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.garageData span {
    display: inline-block;
    width: 150px;
    text-align: center;
}